h1 {
  font-size: 1.5em;
}

.header {
  width: 100%;
  height: auto;
  left: 0;
  z-index: 100;
  line-height: 1.5em !important;
  position: static;
}

.overlay {
  display: none !important;
}

.underlay {
  clip: auto !important;
}

.headerBar {
  text-align: center;
}

.header > div, .header > div > div {
  height: auto;
  width: 100% !important;
}

.main-menu {
  margin: .5em 0;
  text-align: center;
}

.main-menu > ul {
  text-align: center;
}

.main-menu > ul > li {
  float: left;
  width: 20%;
}

.contactIcons {
  display: none;
}

.contentWidth {
  width: auto;
  margin: 0;
  padding: 0 1em;
}

/*.mainNav {
  width: 100%;
  left: 0;
  position: static;
  z-index: 100;
  text-align: center;
}*/

.contentBand h2 {
  text-align: center;
}

.contentBand blockquote {
  width: 100%;
  float: none;
  margin: 0em;
}

#page {
  padding-top: 110px;
}

.headerFixed {
  margin: 0;
  left: 0;
  padding: 0 1.5em;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}

.headerFixed h2.stickyHeaders {
  margin-top: .5em !important;
}

.splashSub {
  position: relative;
  height: 30% !important;
  overflow: hidden;
}

.footerContactIcons {
  display: block;
}

footer {
  padding: 0 !important;
  margin: 2em 1em 1em 1em !important;
}