.header {
  width: 100%;
  height: auto;
  left: 0;
  z-index: 100;
  line-height: 1.5em !important;
  position: static;
}

.headerBar {
  text-align: center;
}

.header > div, .header > div > div {
  height: auto;
  width: 100% !important;
}

.main-menu {
  margin: .5em 0;
  text-align: center;
}

.main-menu > ul {
  text-align: center;
}

.main-menu > ul > li {
  float: left;
  width: 20%;
}

.contactIcons {
  display: none;
}

.contentWidth {
  width: auto;
  margin: 0;
  padding: 0 1em;
}

/*.mainNav {
  width: 100%;
  left: 0;
  position: static;
  z-index: 100;
  text-align: center;
}*/

.contentBand h2 {
  text-align: center;
}

.contentBand blockquote {
  width: 100%;
  float: none;
  margin: 0em;
}

.splashSub {
  margin-top: 120px;
  position: relative;
  height: 30% !important;
  overflow: hidden;
}

footer {
  padding: 0 !important;
  margin: 0 !important;
}