/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
 
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700,400italic|Archivo+Narrow:700);

html, body {
  height: 100%;
  color: #333;
  margin: 0;
  padding: 0;
  font: 16px/1.5em "Monaco", "lucida console", "courier", monospace;
/*  font: 16px/1.8em "Old Standard TT", "Times New Roman", Times , Serif;*/
/*  background: url(assets/bg-sample.jpg) no-repeat center top #fff;*/
}

body {
  border-top: 10px solid #285993;
/*  border-left: 10px solid #285993;
  border-right: 10px solid #993333;*/
}

/* @group Temp To be Deleted */

#933 Red {
  font-size: 4em;
  color: #933;
}

#285993 Blue {
  font-size: 4em;
  color: #285993;
}

#b2c9d8 Light Blue {
  font-size: 4em;
  color: #b2c9d8;
}

#f4eed7 Yellow {
  font-size: 4em;
  color: #f4eed7;
}

/* @end */

#main {
  padding: 2em 0;
  overflow: auto;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Archivo Narrow', Impact, Helvetica, Arial, sans-serif;
}

.splashSection {
  overflow: auto;
}

.splash {
/*  z-index: -999;*/
  position: relative;
  overflow: hidden;
/*  display: block;*/
}

.splash div {
  z-index: 0;
  height: 100%;
  width: 100%;
  display: block;
}

.homeSplash {
  height: 80% !important;
}

.splashSub {
/*  z-index: -999;*/
  position: relative;
  height: 50% !important;
  overflow: hidden;
/*  display: block;*/
}

.caption {

	}
.captionSub {
	z-index: 999 !important;
	position: absolute;
	top: 150px;
	text-align: center;
	display: none !important;
	}
.captionSub h1, .captionSub p {
	color: #fff;
	max-width: 800px;
	width: 50% !important; 
	margin-left: auto;
	margin-right: auto;
	}
/*.splash, .splash img {
  width: 100%;
}*/

a:link, a:visited {
  transition: all .1s linear;
  color: #285993;
}

a:hover, a:active {
  text-decoration: none;
}

#page {
  height: 100%;
  border-top: 10px solid #933;
  padding: 0;
  margin: 0;
}

.btn {
	display: inline-block;
	
	}
.btn img {
	width: 35px;
	display: inline-block;
	height: auto;
	}
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
  padding: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#wrap {
  	min-height: 100%;
}

.contentWidth {
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
 

header, .mainNav {

}

header > div {
  padding-top: 2em;
  width: 12em;
}

/* @group Social Media / Contact Icons */

/* @group Social Icons */

ul.socialIcons {
  margin: 0;
  padding: .2em 0 0 0;
  list-style-type: none;
}

ul.socialIcons li {
  display: inline-block;
}

ul.socialIcons li a {
  text-decoration: none;
  border: none !important;
}

a.icon-twitter:hover {
  color: #00b8ef !important;
}

a.icon-location:hover {
  color: #df593f !important;
}

a.icon-facebook:hover{
  color: #3B5998 !important;
}

/* @end */
.header h2 {
  font: normal .8em/1.5em "Monaco", "lucida console", "courier", monospace;
  text-align: center;
  color: #555;
}

.contactIcons {
  margin: 1em auto;
  position: absolute;
  z-index: 100;
  bottom: 2em;
  width: 10em;
  font-size: 1.2em;
}

.contactIcons ul {
  text-align: center;
  padding: 0;
}

.contactIcons ul li {
  font-size: 1.2em;
  display: inline;
}

.contactIcons a:link, .contactIcons a:visited {
  color: #333;
  text-decoration: none;
}

.contactIcons a:hover, .contactIcons a:active {
  color: #000;
/*  padding-bottom: 3px;
  border-bottom: 1px solid #333;*/
}


/* @end */

/* @group Masthead */

/*.logoCol {
  float: left;
}*/

#masthead {
  text-align: right;
  margin-top: 1.5em;
  display: block;
  position: fixed;
  bottom: 1em;
  width: 200px;
}

/*#masthead > div {
  display: block;
  float: left;
}*/

#masthead h2, #masthead p {
/* 1em/1.5em */
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 1.5em;
  margin: 0;
}

/* @end */


/* @group Overlay Header */

.fixed > div {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  font-size: .8em;
}

.overlay {
  z-index: 101;
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
}

.overlay h2 {
  color: #fff;
}

.overlay .mainNav {
  border-color: #fff;
}

.overlay a:link, .overlay a:visited {
  color: #fff !important;
  border-color: #fff !important;
}

.overlay .mainNav a:hover, .overlay .mainNav a:active {
  text-decoration: underline !important;
  background-color: rgba(255,255,255, 0.2);
}

.overlay h1.logo a {
/*   background-image: url(assets/logo-w.png) !important;*/
   background-image: url(assets/original-logo-w.png) !important;
}


/* @end */

/* @group Header */

.header h1, .header h2 {
  margin: 0;
  padding: 0;
}


.header {
  height: 100%;
  right: 77%;
  width: 200px;
  position: fixed;
  z-index: 100;
  line-height: 1.5em !important;
}

.header > div, .header > div > div {
  height: 100%;
  display: block;
}

.mainNav {
  width: 200px;
  left: 77%;
  position: fixed;
  z-index: 100;
}

h1.logo {
/*  overflow: auto;*/
  min-width: 150px;
}

h1.logo span {
  text-align: center;
  display: block;
}

h1.logo span.subTitle {
  font-weight: normal !important;
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

h1.logo a:link, h1.logo a:visited {
  color: #333;
  padding-top: 3.2em;
  color: #933;
  text-align: center;
  overflow: hidden;
  display: block;
  background: url(assets/original-logo.png) no-repeat top center;
  text-decoration: none;
}

h1.logo a:hover, h1.logo a:active {
  text-decoration: underline !important;
}

.header h1 {
  font: normal 1em/1.8em "Monaco", "lucida console", "courier", monospace;
  margin: 0;
}

.header img {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 1em auto 0 auto;
}

/* @end */

/* @group Main Navigation */

.mainNav > div {
  padding: 2em 2em 2em 4em;
}

.mainNav {
/*  font: normal .8em/2em monaco, "Monaco", futura;*/
}

.mainNav ul {
  padding: 0;
  margin: 0;
  float: right;
}

.mainNav li {
  list-style-type: none;
  text-align: right;
}

.mainNav a:link, .mainNav a:visited {
  display: block;
  text-decoration: none;
  font-size: 1em;
  color: #285993;
}

.mainNav li:last-child a {
  border-right: 0;
}

.mainNav a:hover, .mainNav a:active {
  color: #993333;
  text-decoration: underline;
}

.mainNav li a.active {
  text-decoration: underline;
}

.node-promoted {
	display: none;
	}

/* @end */

/* @group Product Filters */

/* @group Root Product Menu */

.gridItem {
  width: 48%;
  float: left;
  text-align: center;
  margin: 1%;
}

.gridItem .productTypeItems {
  border: 0;
  border: 1px solid #933;
  border-radius: .5em;;
}

.gridItem .productTypeItems img {
  width: 200px;
  float: none;
}

.gridItem .productTypeCaption {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* @end */

/* @group Breadcrumbs Menu */

.block-crumbs {
  font-size: .75em;
/*  border-top: 1px solid #b2c9d8;
  border-bottom: 1px solid #b2c9d8;*/
  padding: .25em 0;
  margin: 1em 0;
  overflow: auto;
}

.block-crumbs a, .block-crumbs a:after {
  border: 1px solid #b2c9d8;
  background-color: #e1edf4;
  text-decoration: none;
  transition: all .1s linear;
}

.block-crumbs a:hover, .block-crumbs a:hover:after{
  background-color: #f4eed7;
  color: #9d8e54;
}

.block-crumbs a {
  border-right: 0;
  margin: 0 2em 0 0;
  padding: .25em 0.5em .25em 1em;
  float: left;
  position: relative;
  border-radius: .4em 0 0 .4em; 
}

.block-crumbs ol > li:last-child {
  border-radius: .4em;
  padding: .25em 1em;
  background-color: #eee;
  border: 1px solid #ddd;
  float: left;
}

.block-crumbs a:after {
  content: "";
  height: 1.9em;
  margin-top: -1em;
  position: absolute;
  right: -1em;
  top: 50%;
  width: 1.9em;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); 
  transform: rotate(45deg);
  border-radius: .45em .25em .45em .45em;
}

/* @end */

.field {
  overflow: auto;
}

.field-group-format .field {
  overflow: visible;
}

.field > .field-items {
  float: right;
}

.views-exposed-form, .attribute-widgets {
  font-size: .75em;
  line-height: 1.5em;
}

.views-exposed-form .clearfix:after {
  display: none;
}

.views-exposed-widgets div {
  margin: 0;
  padding: 0;
}

.views-exposed-widgets, .attribute-widgets {
  display: table;
  border: 1px solid #b2c9d8;
  border-radius: .5em;
  margin: 0 0 3em 0 !important;
  overflow: hidden;
}

.attribute-widgets {
  margin-bottom: 0 !important;
}

.views-exposed-widgets > div {
  display: table-row;
  padding: 0;
  margin: 0;
}

.views-exposed-widgets > div > div {
  width: 25%;
  padding: 0em !important;
  display: table-cell !important;
  border-right: 1px solid #b2c9d8;
/*  box-sizing: border-box;*/
  margin: 0;
  background-color: #fff;
  float: none !important;
  border-bottom: 1px solid #b2c9d8;
}

.commerce-add-to-cart input[type=submit] {
  display: none;
}

.attribute-widgets .form-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #b2c9d8;
}

.attribute-widgets .form-item:last-child {
  border-bottom: 0;
}

.attribute-widgets select {
  padding-left: 1em;
  border-left: 0 !important;
}

.selectYes {
  color: #000;
}

.selectNo {
  color: #ccc;
}

.views-exposed-widget > div > label, .attribute-widgets label {
  font-weight: normal !important;
/*  text-decoration: underline;*/
  background-color: #eee;
  padding: .5em 1em;
  border-bottom: 1px solid #b2c9d8;
}

.views-exposed-widget .form-item {
  padding: 0 1em;
}

.views-exposed-widget .form-item:first-child {
  padding-top: .5em;
}

.views-exposed-widget .form-item:last-child {
  padding-bottom: 1em;
}

.views-exposed-widget .form-type-select {
  padding: 0 !important;
}

.views-exposed-widget > div select {
  border: 0;
  width: 100%;
/*  padding: 0 1em !important;
  box-sizing: content-box;
  margin: -.5em -1em 0 -1em;*/
}

.views-exposed-widget:nth-child(4n+4) {
  border-right: none !important;
}

.views-exposed-widgets > div:last-child > div {
  border-bottom: none !important;
}

.views-exposed-form .views-exposed-widget .form-submit {
  font: normal 1em/1.5em "Monaco", "lucida console", "courier", monospace;
  margin: 0em !important;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  color: inherit;
}

.views-submit-button {
  color: #285993 !important;
  background-color: #e1edf4 !important;
  transition: all .1s linear;
}

.views-submit-button:hover {
  color: #9d8e54 !important;
  background-color: #f4eed7 !important;
}

/* @end */

/* @group Filtered Product List */

/*.sticky-ul {
    height: 100%;
    overflow: auto;
}*/
.headerFixed h2.stickyHeaders {
  margin: 1em 0 0 0 !important;
}


.headerFixed + .productItem {
  padding-top: 6em !important;
}

.headerFixed {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 50%;
  box-shadow: 0 8px 12px -10px rgba(0,0,0,.75);
}

.view-content {
/*  padding-top: 1em;*/
  position: relative;
}

.view-content > h3, .stickyHeaders {
    font: bold 1.8em/1.5em 'Archivo Narrow', Impact, Helvetica, Arial, sans-serif !important;
    padding: .25em 0;
    border-top: 3px solid #285993;
    border-bottom: 3px solid #993333;
}

h2.stickyHeaders {
  margin-bottom: 0;
}

.view-content .productItem {
  overflow: auto;
}

.productItem .itemNav {
  float: right;
  display: block;
}

.productItem .itemNav a {
  display: block;
  color: #285993;
  text-decoration: none;
  border: 1px solid #b2c9d8;
  list-style-type: none;
  margin: .9em .25em;
  padding: .2em 1em;
  font-size: .8em;
  border-radius: .5em;
/*  background-color: #e1edf4;*/
}

.productItem .itemNav a:hover {
  background-color: #f4eed7;
  color: #9d8e54;
}

/*.view-content {
  font: normal .75em/1.5em "Monaco", "lucida console", "courier", monospace;
}*/

.productItem {
/*  width: 100%;*/
  margin-left: 100px;
  border-bottom: 1px solid #b2c9d8;
}

.productItem h2 {
  width: 4em;
}

.productItem h2, .productItem h3 {
  font: normal 1em/1.5em "Monaco", "lucida console", "courier", monospace !important;
  padding: 1em 0.5em;
  margin: 0;
  display: inline-block;
}

.productItem a:link, .productItem a:active {
  text-decoration: none;
}

.headerInfo + .productItem {
  border-top: 1px solid #b2c9d8;
}

.productItem a:hover, .productItem a:active {
/*  background-color: #e1edf4;*/
  text-decoration: none; !important;
  border-bottom: 1px solid #b2c9d8;
}

.seriesInfo .seriesInfo {
  margin-top: 1em;
  overflow: auto;
}

.seriesInfo ul {
  margin: 0 0 2em 2.5em;
  list-style-type: disc !important;
}

.seriesInfo img {
  width: 80px !important;
  margin-right: 1em;
}

.seriesImage {
  margin-top: 1em;
  float: left;
}

/*.productItem h2, .productItem h3 {
  margin: 0.25em 8em 0 0;
}*/

.view-content .productItem .resultsImageWrap {
  margin-right: .75em;
  overflow: hidden;
  width: 80px;
  height: 80px;
  float: left;
}

.view-content .productItem img {
  width: 100%;
  height: auto;
  float: left;
}

.view-content .moreInfo {
  display: none;
  border-top: 1px solid #e1edf4;
  padding-top: 1em  ;
  margin: 0 0 1em 6em;
  position: relative;
}

.view-content .moreInfo:before {
  content: " ";
  background-image: url(assets/tab-arrow-up.png);
  width: 16px;
  height: 8px;
  display: block;
  position: absolute;
  right: 2.6em;
  top: -8px;
}

.view-content .itemExtra p {
  clear: both;
}

.view-content .itemExtra .itemLabel {
  width: 14em;
  margin-right: 1em;
  display: block;
  min-height: 2em;
  float: left;
}

/* @end */

/* @group Content Column */

#content {
/* padding-top: 2em;*/
}

#content h2 {
  font: bold 1.6em/1.5em 'Archivo Narrow', Impact, Helvetica, Arial, sans-serif;
}

#content ul {
  padding: 0;
}

#content article {
  line-height: 1.8em;
  padding: 0;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* @end */

/* @group About Styles */

.innerViewWrap {
  overflow: auto;
}

.view-employee-profiles > div {
  text-align: center;
}

.profileTile > img {
  border-radius: 50%;
}

.profileTile {
  font-size: .9em;
  min-height: 16em;
  display: inline-block;
  text-align: center;
  width: 25%;
  margin: 1.5em 0;
  vertical-align: top;
}

.gridTile > img {
	width: 150px;
	height: auto;
}

.gridTile {
  font-size: .9em;
  min-height: 16em;
  display: inline-block;
  text-align: center;
  width: 25%;
  margin: 1.5em 0;
  vertical-align: top;
}

.gridTile ul li {
  list-style-type: none;
}

.profileTile h2 {
  margin: 0 !important;
  font-size: 1.2em !important;
}

.profileTile h3 {
  margin: 0;
  font: normal .8em/1.5em "Monaco", "lucida console", "courier", monospace !important;
}

.profileTile:nth-child(3n+2) {
  margin: 1.5em 5%;
}

/* @end */

/* @group Series Page Styles */

h1.title {
  margin: 0;
  line-height: 1em;
}

.group_product_name {
  border-top: 1px solid #b2c9d8;
  border-bottom: 1px solid #b2c9d8;
  padding: .5em 0;
  margin-bottom: 2em;
  font-size: .75em;
}

.group_product_name * {
  float: none !important;
  display: inline !important;
}

/*.horizontal-tabs {
  font: normal .8em/1.5em "Monaco", "lucida console", "courier", monospace;
  border: 1px solid #b2c9d8 !important;
}

ul.horizontal-tabs-list {
  background-color: transparent !important;
  border: none !important;
}

.horizontal-tab-button {
  background-color: transparent !important;
}

.horizontal-tabs ul.horizontal-tabs-list li {
  width: 33.3333333% !important;
  padding: 0 !important;
  float: none !important;
  display: inline-block !important;
  text-align: center;
  height: auto !important;
  border-right: 1px solid #b2c9d8 !important;
  border-bottom: 1px solid #b2c9d8 !important;
  box-sizing: border-box !important;
  outline: none !important;
}

.horizontal-tabs ul.horizontal-tabs-list li a {
  padding: 1em !important;
  font-weight: normal;
  outline: none;
}

.horizontal-tabs ul.horizontal-tabs-list li a strong {
  font-weight: normal;
}

.horizontal-tabs ul.horizontal-tabs-list li.last {
  border-right: none !important;
}

.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  outline: none;
  text-decoration: underline;
  background-color: transparent !important;
}


.horizontal-tabs-panes .form-wrapper {
  padding: .5em !important;
}*/

.field-items ul {
  margin-left: 2em;
}

.field-group-format .field-label {
  display: inline-block;
  width: 30%;
  margin-right: 5%;
  font-weight: normal;
}

.field-group-format h3 {
  font-size: 2em;
  margin: 1em 0 .5em 0;
}

.field-group-format .field-label + .field-items {
  display: inline-block;
  width: 65%;
}

.field-group-div {
  font-size: .75em;
  line-height: 1.5em;
}

.commerce-product-field {
  padding: .5em;
}

.field-group-format .field-label + .field-items > .field-item {
  display: inline-block;
  min-width: 6em;
  margin-right: 1em;
}

.group_product_specs .commerce-product-field:nth-child(odd) {
  background-color: #eee;
}

.field-name-field-finishes > div > .field-item {
  width: 6.5em;
}

.field-name-field-finishes h2 {
  font: normal 1em/1.5em "Monaco", "lucida console", "courier", monospace !important;
  display: inline !important;
}

.field-name-field-finishes .content {
  float: left;
  width: 3em;
  height: 2.5em;
}

.field-name-field-finishes img {
  border: 1px solid #999;
}

.field-type-image {
	width: 60%;
	float: left;
	overflow: hidden;
	}
	
.field-type-image img {
	width: auto;
	}
.field-group-htabs-wrapper {
	clear: both;
	width: 100%;
	}
/* @end */

/* @group Page/Node Styles */

/* @group Inner Page Navigation (Contents) */

div.innerPageNav {
  font-size: 1em;
  text-align: center;
/*  border-top: 1px solid #b2c9d8;
  border-bottom: 1px solid #b2c9d8;*/
  margin: .5em 0 -1em 0;
  font-size: .75em;
}

div.innerPageNav div.innerNavItem {
  margin: .25em .25em 1em .25em;
  display: inline-block;
}

div.innerPageNav div.innerNavItem a {
  border: 1px solid #b2c9d8;
  background-color: #e1edf4;
  border-radius: .4em;
  padding: .5em 1em;
  text-decoration: none;
}

div.innerPageNav div.innerNavItem a:hover {
  background-color: #f4eed7;
  color: #9d8e54;
}


/* @end */

/* @group News Articles */

.node-article .field-items {
  font-family: "Georgia", "Times New Roman", Times , Serif;
}

.node-article header p{
  font-size: .8em;
  border-top: 1px solid #b2c9d8;
  border-bottom: 1px solid #b2c9d8;
  margin: 1em 0;
}

.node-article .field-type-image {
	width: 100%;
	float: none;
	overflow: hidden;
}

.node-article .field-type-image * {
  width: 100%;
}
	

/* @end */

.contentBand {
  font: 16px/1.8em "Georgia", "Times New Roman", Times , Serif;
}

.contentBand ul li {
  list-style-type: none;
  padding-left: 1.5em;
}

.contentBand ul li:before {
  content: '\00d7 ';
  color: #933;
  margin-left: -1.5em;
  padding-right: .5em;
  font-weight: bold;
}

.contentBand h2 {
  margin-bottom: 1em;
}

.contentBand p {
  margin-bottom: 1.5em;
}

.contentBand ul.slides li {
  background-color: #fff !important;
}

.contentBand h4 {
	font: normal 1.25em/1.5em 'Archivo Narrow', Impact, Helvetica, Arial, sans-serif;
	color: #933;
}

.contentBand ul.inlineGrid {
}

.contentBand ul.inlineGrid li {
	width: 30%;
	height: 50px;
	line-height: 1.2em;
	overflow: hidden;
	text-align: center;
	padding: 30px 1.5% 30px 1.5%;
	float: left;
}

ol.inlineGrid {
  padding: 1em 0;
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal;
  overflow: auto;
}

ol.inlineGrid li {
  width: 30%;
  height: 9em;
  line-height: 1.4em;
  text-align: center;
  padding: 30px 1.5% 30px 1.5%;
  float: left;
  font-family: Monaco;
  font-size: 0.8em;
  color: #933;
}

ol.inlineGrid li:before {
  content: counter(li);
  counter-increment: li;
  display: block;
  margin: 0 auto .25em auto;
  text-align: center;
	font-weight: bold;
	color: #933;
	border: 2px solid #933;
  width: 1em;
  padding: .25em;
  border-radius: 50%;
	font: normal 4em/1em 'Archivo Narrow', Impact, Helvetica, Arial, sans-serif;
}

div.innerPageNav:after, .contentBand:not(:last-child):after {
  content: '';
	width: 75%;
	border-bottom: 1px solid #b2c9d8;
	display: block;
	margin: 3em auto;
}
div.gridItem:after {
	margin: 0 !important;
	border-bottom: 0 !important;

}


/* @group Blockquotes */

.contentBand blockquote {
  float: right;
  padding: 0;
  margin: .5em 0 .5em 1em;
  border-top: 3px solid #285993;
  border-bottom: 3px solid #993333;
  width: 33%;
  font: normal 1.5em/1.5em 'Archivo Narrow', Impact, Helvetica, Arial, sans-serif;
}

/* @end */

/* @group In-page Carousel Styles */

.contentBand .flexslider {
  background-color: #fff;
}

.contentBand .flexslider ul li:before {
  content: none;
}

.contentBand .flex-caption {
  margin: 1.5em auto 1em auto; width: 75%; padding: 1em 0 1em 0; text-align: center;
  font: normal .8em/1.5em "Monaco", "lucida console", "courier", monospace;
}
.contentBand .flex-direction-nav a { top: 45%; }
.contentBand .flex-control-nav { bottom: 45px }
.contentBand .flex-control-paging li a { background: #777; background: rgba(0,0,0,0.5);}
.contentBand .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.contentBand .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9);}

/* @end */

/* @end */

/* @group Contact Styles */

ul#contactInfo {
  list-style-type: none;
}

ul#contactInfo li {
  font: normal .8em/1.5em "Monaco", "lucida console", "courier", monospace;
  display: block;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

ul#contactInfo .address {
  float: left;
  width: 18em;
}

ul#contactInfo .address:before {
  content: "\6c";
}

ul#contactInfo .tel:before {
  content: "\31";
}

ul#contactInfo .fax:before {
  content: "\25";
}

ul#contactInfo li:before {
  color: #933;
  font: normal 1.25em/1em 'icons';
  margin: .25em 0 0 -1.5em;
  float: left;
  display: block;
}

.webform-client-form {
  border: 1px solid #b2c9d8;
  border-radius: .5em;
  padding: 0;
  font: normal .8em/1.5em "Monaco", "lucida console", "courier", monospace;
  overflow: hidden;
}

.webform-client-form > div {
  display: table;
  width: 100%;
}

.webform-client-form > div > div {
  display: table-row;
  width: 100%;
}

.webform-client-form > div > div > label {
  background-color: #eee;
  display: table-cell;
  border-bottom: 1px solid #b2c9d8;
}

.webform-client-form > div > div:last-child  > label {
  border: 0;
}
/*
.webform-client-form > div:last-child > div > * {
  border: 0;
}*/

.webform-client-form label, .webform-client-form .form-actions {
  padding: .5em;
  font-weight: normal !important;
  white-space: nowrap;
}

.webform-client-form input[type=text], .webform-client-form input[type=email], .webform-client-form textarea, select   {
  font: normal 1em/1.5em "Monaco", "lucida console", "courier", monospace;
  background-color: transparent;
  width: 101%;
  outline: none;
  display: table-cell;
  padding: 7px .5em;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #b2c9d8;
  border-left: 1px solid #b2c9d8;
}

select {
  cursor: pointer;
  border-radius: 0;
  background: url(assets/menu-arrows.png) right 0 no-repeat #fff;
  height: 32px;
  overflow: hidden;
  -webkit-appearance: none;
  margin: 0;
  border-bottom: 0;
  transition: background-color .1s linear;
}

.webform-client-form textarea {
  resize: none;
  border-radius: 0;
  background: #fff;
  margin: 0;
  margin-top: -7px;
  overflow: hidden;
  border-top: 1px solid #b2c9d8;
  border-bottom: 0;
  height: 16em;
  width: 100%;
  overflow: auto;
}

.webform-client-form .form-actions {
  border-right: 1px solid #b2c9d8;
}

.webform-client-form .form-actions input[type=submit] {
  font: normal 1em/1.5em "Monaco", "lucida console", "courier", monospace;
  width: 101%;
  padding: .5em;
  background: transparent;
  border: 0;
  float: left;
  margin-top: -30px;
  background-color: #e1edf4;
  border-top: 1px solid #b2c9d8;
/*  border-right: 1px solid #b2c9d8;*/
  transition: all .1s linear;
  color: #285993;
}

.webform-client-form .form-actions input[type=submit]:hover, select:hover {
  background-color: #f4eed7;
  color: #9d8e54;
  background-position: right -30px;
} 

.messages {
  border-radius: .25em;
  font: normal .8em/1.5em "Monaco", "lucida console", "courier", monospace;
}

/* @end */

/* @group Defaults */

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}
#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */


#main {
}

/*
 * Content
 */
 
/* h1.title, /* The title of the page *!/
h2.node-title, /* Title of a piece of content when it is given in a list of content *!/
h2.block-title, /* Block title *!/
h2.title, /* Comment section heading *!/
h2.comment-form, /* Comment form heading *!/
h3.title { /* Comment title *!/
  margin: 0;
}*/

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/* @end */

/* @group Footer */

#footer {
  font: normal .75em/1.6em "Monaco", "lucida console", "courier", monospace;
  clear: both;
  text-align: center;
}

footer {
  border-top: 2px solid #285993;
  padding-top: 1px;
  padding-bottom: 1em;
}

footer > div {
  border-top: 2px solid #993333;
  padding: 1em 0 .5em 0;
}

/* @end */

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
